black
coverage
flake8
git+https://github.com/Abstract-Tech/pytest-black.git#egg=pytest-black
git+https://github.com/Abstract-Tech/pytest-flake8.git#egg=pytest-flake8
isort
mypy
pip
pip-tools
pre-commit
pytest
pytest-cov
pytest-mock
Sphinx
wheel
